@model EmployeeCreateVM

<div class="d-flex justify-content-center">
    <h1 class="text-success">Create Employee</h1>
</div>

<br />
<hr />
<br />

<form asp-controller="Employee" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3 form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="mb-3 form-group">
        <label asp-for="DepartmentId" class="form-label"></label>
        <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.Departments" required>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <input type="submit" class="btn btn-success" value="Create Employee" />
        <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Cancel</a>
    </div>

</form>


@* @section Scripts
{
    await @Html.RenderPartialAsync("_ValidationScriptsPartial");
} *@