@model EmployeeReadVM

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Employee Name: @Model.Name</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Age: @Model.Age</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Salary: @Model.Salary</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Department: @Model.Department</h6>
        <a asp-action="Index" asp-controller="Employee" class="btn btn-outline-secondary">Back</a>
    </div>
</div>